In [ ]:
#Fixing the wrong data

In [ ]:
wrong data does not have to be empty cells or wrong format
if can just be wrong like if someone registered '1999' instead of  1.99

In [ ]:
#one way is replacing the values

In [ ]:
we can replace the values using the something else value

In [ ]:
df.loc[7,"Duration"]=45

In [ ]:
# for small datsets we can replace the values by on by one for larger datasets 
you can create some rules eg set some boundaries for legal values and replace 
any values that are outside of the boundaries

In [ ]:
#so we use looping process here

In [ ]:
for x in df.index:
    if df.loc[x,'Duration'] > 120:
        df.loc[x,"Duration"] =120

In [ ]:
#removing the entire rows

In [ ]:
for x in df.index:
    if df.loc[x,"Duration"] >120:
    df.drop(x,inplace=True)

In [ ]:
#removing the duplicates

In [ ]:
those which are registered more than one time

In [ ]:
print(df.duplicated())

In [ ]:
to remove duplicates, use the drop_duplicates() method

In [ ]:
df.drop_duplicates(inplace=True)