In [ ]:
#series
A pandas series is like a column in a table 
it is one dimensional array holding data of any type

In [2]:
import pandas as pd 
a=[1,3,7,6]
myvar=pd.Series(a)
print(myvar)

0    1
1    3
2    7
3    6
dtype: int64

In [ ]:
labels
if nothing is specified the value are labelled with their  index no 
first value has index 0 second value has a index 1

In [5]:
import pandas as pd 
a=[1,3,7,6]
myvar=pd.Series(a)
print(myvar[0])

1

In [9]:
import pandas as pd 
a = [1,2,4]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)
print(myvar["y"])

x    1
y    2
z    4
dtype: int64
2

In [11]:
#keyvalues objects as series 
import pandas as pd 
calories = {"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
data frames in pandas are usually multi dimensional tables called dataframes

In [14]:
import pandas as pd 
data ={ 
    "calories" : [30,40,50],
    "duration": [90,70,54]
}
myvar=pd.DataFrame(data)
print(myvar)

   calories  duration
0        30        90
1        40        70
2        50        54