In [ ]:
#Pandas Tutorial
#pandas is a python library
#pandas is used to analyze the data

In [13]:
import pandas as pd
df=pd.read_csv("cars.csv",encoding='latin1')
print(df.head())

  Company Names     Cars Names      Engines CC/Battery Capacity HorsePower  \
0       FERRARI  SF90 STRADALE           V8             3990 cc     963 hp
1   ROLLS ROYCE        PHANTOM          V12             6749 cc     563 hp
2          Ford            KA+  1.2L Petrol            1,200 cc   70-85 hp
3      MERCEDES        GT 63 S           V8            3,982 cc     630 hp
4          AUDI     AUDI R8 Gt          V10            5,204 cc     602 hp

  Total Speed Performance(0 - 100 )KM/H      Cars Prices       Fuel Types  \
0    340 km/h                   2.5 sec      $1,100,000   plug in hyrbrid
1    250 km/h                   5.3 sec        $460,000            Petrol
2    165 km/h                  10.5 sec  $12,000-$15,000           Petrol
3    250 km/h                   3.2 sec        $161,000            Petrol
4    320 km/h                   3.6 sec        $253,290            Petrol

  Seats        Torque
0     2        800 Nm
1     5        900 Nm
2     5  100 - 140 Nm
3     4        900 Nm
4     2        560 Nm

In [ ]:
|#python is a python library used to working with datasets

In [ ]:
it is a function for analyzing,cleanig,exploring and manipulating data.

In [ ]:
pandas has a refernece panel data , and pytohn data analaysis  and was
created by wes mckinney in 2008

In [ ]:
why we use ?
pandas allow us to analyze big data and make conclusions based on the statistical theories

In [ ]:
pandas can clean messy data sets, and make readable and relevant

In [ ]:
where can pandas do?

In [ ]:
max value?
min value?
avg value?
correlation b/w two more columns

In [14]:
import pandas as pd
df=pd.read_csv("cars.csv",encoding='latin1')
print(df.tail())

     Company Names         Cars Names                             Engines  \
1213        Toyota       Crown Signia                      2.5L Hybrid I4
1214        Toyota  4Runner (6th Gen)  2.4L Turbo I4 (i-FORCE MAX Hybrid)
1215        Toyota      Corolla Cross              2.0L Gas / 2.0L Hybrid
1216        Toyota             C-HR+                   1.8L / 2.0L Hybrid
1217        Toyota     RAV4 (6th Gen)        2.5L Hybrid / Plug-in Hybrid

        CC/Battery Capacity    HorsePower Total Speed  \
1213                2487 cc        240 hp    180 km/h
1214      2393 cc + Battery        326 hp    180 km/h
1215  1987 cc / Hybrid batt  169  196 hp    190 km/h
1216  1798 / 1987 cc + batt  140  198 hp    180 km/h
1217         2487 cc + batt  219  302 hp    200 km/h

     Performance(0 - 100 )KM/H        Cars Prices               Fuel Types  \
1213                   7.6 sec  $43,590  $48,000  Hybrid (Gas + Electric)
1214                   6.8 sec           $50,000                    Hybrid
1215             8.0  9.2 sec  $25,210  $29,135             Gas / Hybrid
1216            7.9  10.5 sec            33,000                   Hybrid
1217             6.0  8.1 sec  $29,000  $43,000         Hybrid / Plug-in

     Seats        Torque
1213     5        239 Nm
1214     7        630 Nm
1215     5  190  210 Nm
1216     5  190  205 Nm
1217     5  221  400 Nm

In [15]:
import pandas

In [17]:
import pandas
mydataset = {
    'cars' :["bmw","volvo","ford"],
    'passings':[3,72,1]
}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    bmw         3
1  volvo        72
2   ford         1

In [ ]:
create an lais with as keyword while importing:

In [18]:
import pandas as pd 
print(pd.__version__)

2.2.2

In [21]:
#a pandas  series is like column in a table

In [22]:
#it is a one dimensional array holding data of any type